body {
	margin: 0;
    height: 100vh;
	display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center;     /* Vertical center */
}

@media (max-width: 600px) {
  body {
	background-size: 600px 400px;
  }
}


.header-container {
    display: flex;
    justify-content: center; /* Centers child horizontally */
	padding-top: 200px;      /* Keeps your original vertical spacing */
}

.header {
    color: ivory;
    text-shadow: 1px 1px 1px #3e1a13;
    text-align: center;
    font-size: 12px;
    font-family: 'Courier Prime', monospace;
    }

.navbar {
	justify-content: center;
	overflow: hidden;
}

/* links inside navbar */
.navbar li {
	text-align: center;
    list-style: none;
	padding: 14px 16px;
}

/* links inside navbar */
.navbar a {
	color: #3e1a13;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Courier Prime', monospace;
}

/* change link appearance on hover */
.navbar a:hover {
    border-style: solid;
}

/* make current link a different color */
.navbar a.active {
    border-style: solid;
}

/* make all article text brown */
article {
    color: #5e432d;
	font-family: 'Courier Prime', monospace;
}


li.recipeList {
	color: #5e432d;
	font-family: 'Courier Prime', monospace;
}

a.recipeList {
	text-decoration: none;
}

/* padding: verticle, horizontal */
/* recipe title */
article h2 {
	color: #5e432d;
	font-size: 30px;
	padding-left: 20px;
	font-family: 'Courier Prime', monospace;
}

article ul {
	margin-top: 0;
	font-size: 18px;
	font-family: 'Courier Prime', monospace;
}

/*recipe label (ingredients, recipe)*/
article h3 {
	text-decoration-line: underline;
	padding-left: 20px;
	font-family: 'Courier Prime', monospace;
}

/* label to split up ingredients */
article div {
	font-size: 18px;
	padding-left: 20px;
	text-decoration-line: underline;
	font-family: 'Courier Prime', monospace;
}

article p {
	font-size: 18px;
	padding-left: 20px;
	font-family: 'Courier Prime', monospace;
}
