body {
	background-color: #f8e8e3;
}

img.scallop {
  --s: 20px;    /* size of the frame */
  --g: 10px;    /* the gap */
  --c: #FA6900; 
  
  padding: calc(var(--g) + var(--s));
  background: 
    radial-gradient(farthest-side,var(--c) 97%,#0000)
    0 0/calc(2*var(--s)) calc(2*var(--s)) round;
  mask:
    conic-gradient(from 90deg at calc(2*var(--s)) calc(2*var(--s)),#0000 25%,#000 0)
     calc(-1*var(--s)) calc(-1*var(--s)),
    linear-gradient(#000 0 0) content-box;
}

.header {
	background-image: url('greenfield.jpg');
	color: #e0a7a7;
	text-shadow: 2px 2px 2px #3e1a13;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	font-family: 'Macondo', cursive;
}



.navbar {
	background-color: #e0a7a7;
	overflow: hidden;
}

/* links inside navbar */
.navbar a {
	float: left;
	color: #5e432d;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Courier Prime', monospace;
}

/* change link appearance on hover */
.navbar a:hover {
	background-color: #5d7025;
    color: #e0a7a7;
}

/* make current link a different color */
.navbar a.active {
    background-color: #5d7025;
    color: #e0a7a7;
}

/* make all article text brown */
article {
    color: #5e432d;
	font-family: 'Courier Prime', monospace;
}


li.recipeList {
	color: #5e432d;
	font-family: 'Courier Prime', monospace;
}

a.recipeList {
	text-decoration: none;
}

/* padding: verticle, horizontal */
/* recipe title */
article h2 {
	color: #5e432d;
	font-size: 30px;
	padding-left: 20px;
	font-family: 'Courier Prime', monospace;
}

article ul {
	margin-top: 0;
	font-size: 18px;
	font-family: 'Courier Prime', monospace;
}

/*recipe label (ingredients, recipe)*/
article h3 {
	text-decoration-line: underline;
	padding-left: 20px;
	font-family: 'Courier Prime', monospace;
}

/* label to split up ingredients */
article div {
	font-size: 18px;
	padding-left: 20px;
	text-decoration-line: underline;
	font-family: 'Courier Prime', monospace;
}

article p {
	font-size: 18px;
	padding-left: 20px;
	font-family: 'Courier Prime', monospace;
}

.parent {
	position: relative;
	top: 0;
	left: 0;
}

.frame {
	position: relative;
	top: 0;
	right: 0;
}

.artSquare {
	position: absolute;
	top: 75px;
	left: 150px;
}

.artRectangle {
	position: absolute;
	top: 100px;
	left: 150px;
}

div.caption {
	position: absolute;
	left: 200px;
}